<div class="centralWrap">
  <div class="wrap" *ngFor="let restaurant of restaurants">
    <a [routerLink]='shortName(restaurant)' (click)='pass(restaurant)'>
      <div>
        <span class="helper"></span>
        <img [src]="restaurant.logo">
      </div>
      <div class="text">{{ restaurant.name }}</div>
    </a>
  </div>
</div>
<!-- <img src="/src/assets/dynamica-logo.png" alt="" srcset=""> -->
