img {
    
    /* border-style: solid; */
    /* max-height: 15em; */
    /* min-width: 25em; */
    width: 50%;
    /* background-color: white; */
    vertical-align: middle;
    /* min-height: 10em; */
}
.helper {
    display: inline-block;
    height: 50%;
    width: 100%;
    vertical-align: middle;
    
    /* border-style: solid; */
    /* height: 50vh; */
}
.centralWrap {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 99%;
    /* border-style: solid; */
}
.wrap {
    /* margin: 1em; */
    display: inline-block;
    /* border-style: solid; */
    border-color: yellow;
    width: 30%;
    height: 100%;
    
}
div {
}
.text {
    font-size: 2em;
    line-height: 3em;
    text-transform: capitalize;
}
a {
    /* border-style: solid; */
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    text-shadow:0px 0px 5px white;
    transform: scale(2, 2);
}

a:hover > img{
    text-decoration: none;
    text-shadow:0px 0px 5px white;
}