.menu {
    /* padding: 1em; */
    max-width: 75%;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
/* td {
    border-style: solid;
} */
.size {
    width: 6rem;
}
.tdwrap {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.right {
    float: right;
}
.name {
    min-width: 60%;
}
h1, h2 {
    text-transform: capitalize;
    margin-top: 2em;
}
app-loading-wheel{
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
}
.other {
    margin-top: 5em;
}
tr{
    transition: 0.3s;
}
tr:hover {
    background-color: rgba(255, 255, 255, 0.1)
}