<div class="menu" *ngFor="let day of nonEmpty()">
  <h1>{{ day.dayName }}</h1>
  <table>
    <tr *ngFor="let food of day.foods">
      <td class="size">
        <div class="tdwrap">{{food.size}}</div>
      </td>
      <td class="name">
        <div class="tdwrap">{{food.name}}</div>
      </td>
      <td>
        <div class="tdwrap">{{food.foodType==null?'':food.foodType.name}}</div>
      </td>
      <td class="size">
        <div class="tdwrap right">{{food.price}}</div>
      </td>
      <!-- {{food.size}} - {{food.name}} ( {{food.foodType==null?'':food.foodType.name}} ) - {{food.price}} -->
    </tr>
  </table>

  
</div>
<div class="other menu" *ngIf="hasOther()">
  <h1>{{otherMenuText()}}</h1>
  <ng-container *ngFor="let item of otherFood() | keyvalue">

    
    <h2>{{item.key}}</h2>
    <table>
      <tr *ngFor="let food of item.value">
        <td class="size">
          <div class="tdwrap">{{food.size}}</div>
        </td>
        <td class="name">
          <div class="tdwrap">{{food.name}}</div>
        </td>
        <td>
            <div class="tdwrap"></div>
        </td>
        <td class="size">
          <div class="tdwrap right">{{food.price}}</div>
        </td>
      </tr>
    </table>
  </ng-container>
</div>
<app-loading-wheel *ngIf="isEmpty()"></app-loading-wheel>
