@font-face{font-family:Montserrat;src:url(https://fonts.googleapis.com/css?family=Montserrat:300&amp;display=swap)}a,body{background-color:#111137;color:#d3d3d3;text-shadow:0 0 .5rem #000;font-family:Montserrat,arial,sans-serif}