
.en {
    height: 10em;
    max-height: 10em;
    width: 16.25em;
    max-width: 16.25em;
    background-image: url(/assets/gb.svg);
    background-size: cover;
    line-height: 10em;
}
.cz {
    height: 10em;
    width: 15em;
    background-image: url(/assets/cz.svg);
    background-size: cover;
    line-height: 10em;
}
.wrap {
    transform: translateY(100%);
}
.wrap > div {
    display: inline-block;
}
div {
    text-align: center;
}
span {
    font-size: 4em;
    color: black;
}
a {
    display: inline-block;
    cursor: pointer;
    margin: 1em;
}
a:hover {
    box-shadow: 0 0 .5rem #fff;
}