/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat';
    src: url("https://fonts.googleapis.com/css?family=Montserrat:300&amp;display=swap");
}
body, a {
    background-color: #111137;
    color: #d3d3d3;
    text-shadow: 0 0 .5rem #000;
    font-family: Montserrat,arial,sans-serif;
}